.Navbar{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 140px;
    padding-right: 140px;

}

.Navbar a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 15px;
}

.Navbar a:hover{
    color: brown;
}
.Navbar img {
    width: 140px;
    height: 40px;
}